/* fonts  */

@font-face {
    font-family: NeuExBlack;
    /* src: url(../../assets/fonts/neue/Neue\ Plak\ Extended\ Black.ttf); */
    src: url(../../asset/assets/fonts/neue/Neue\ Plak\ Extended\ Black.ttf);
}

.NeuExBlack{
    font-family: NeuExBlack;
}

@font-face {
    font-family: GilroyBoldT;
    src: url(../../asset/assets/fonts/gilroy/Gilroy-Bold.ttf);
}

@font-face {
    font-family: GilroyMedT;
    src: url(../../asset/assets/fonts/gilroy/Gilroy-Medium.ttf);
}

@font-face {
    font-family: MontserratEBold;
    src: url(../../asset/assets/fonts/montserrat/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: MontserratR;
    src: url(../../asset/assets/fonts/montserrat/Montserrat-Regular.ttf);
}

.MontserratR{
    font-family: MontserratR;
}


.MontserratEBold{
    font-family: MontserratEBold;
}

.GilroyBoldT{
    font-family: GilroyBoldT;
}

.GilroyMedT{
    font-family: GilroyMedT;
}

.top-cont{
    width: 100%;
    height: 20vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    top: 0;
    position: sticky;
    z-index: -20;
}

.prof-img{
    width: 100px;
    height: 100px;
    margin-top: -50px;
    z-index: 10;
    border-radius: 180px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.prof{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F4F4F4;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    margin-top: 0px;
}

.phone-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 37px;
    border-radius: 15px;
    border: 2px solid #162449;
    background-color: #ffffff;
    gap: 7px;
    font-size: small;
    max-width: 150px;
    font-family: Helvetica;
    font-weight: 700;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.wa-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 37px;
    border-radius: 15px;
    border: none;
    background-image: linear-gradient(to left, #67D75C, #86E678);
    gap: 7px;
    font-size: smaller;
    color: #ffffff;
    max-width: 150px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    font-family: Helvetica;

}

.btn-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 25px 10px;
}

.vt-cardmain{
    width: 200px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.vt-img{
    width: 100%;
    
}


.disbtn{
    width: 100%;
    border-radius: 20px;
    padding: 9px 0;
    border: none;
    background-color: #F4F4F4;
    color: #162449;


}

.save-btn{
    border-radius: 2000px;
    width: 45px;
    height: 45px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 10px;
}
.typing-animation-container {
    font-size: 20px;
    text-align: center;
    
  }
  
  .highlight {
    color: #E82A34; /* Change the color as needed */
    animation: highlightAnimation 0.5s ease-in-out;
  }
  
  .cursor {
    color: #000; /* Change the color as needed */
    animation: cursorBlink 0.8s infinite;
  }
  
  @keyframes highlightAnimation {
    0% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes cursorBlink {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }